.header {
    height: var(--nav-height);
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header button {
    text-transform: none;
    box-shadow: none;
    border: 1px solid;
}

.menu-item {
    border: 0;
    padding: .625rem .75rem;
    line-height: 1.2;
    color: #888;
}

a.menu-item {
    color: #888;
    text-decoration: none;
}

a.menu-item:hover {
    color: blue;
    text-decoration: none;
}