@import url('topMenu.css');
@import url('popupMenu.css');

.header {
    position: fixed;
    width: 100vw;
    height: var(--nav-height);
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background: white;
    box-sizing: border-box;
    z-index: 999;
    transition: 0.1s ease-out transform;
    padding: 0 32px 0 31px;
}

.header.hidden {
    transform: translateY(calc(0rem - var(--nav-height)));
}

.login-button {
    box-shadow: none;
    border: 2px solid;
    font-family: RMNeue, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-color: #3e31fa;
    color: #3e31fa;
    line-height: 21px;
    border-radius: 8px;
    background-color: transparent;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 8px 9px;
    text-transform: none;
    letter-spacing: 0.2px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

