.header {
    height: var(--nav-height);
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
}

.menu-item {
    --rm-animation-fill-mode: both;
    --rm-animation-delay-ms: .15s;
    --rm-animation-delay-s: 1s;
    --rm-animation-duration-ms: .15s;
    --rm-animation-duration-s: 1s;
    --rm-transition-duration-ms: .4s;
    --rm-transition-duration-s: 1s;
    --rm-color-primary-white: #FFF;
    --rm-color-primary-light: #DEE5FD;
    --rm-color-primary-medium: #8FA0F5;
    --rm-color-primary-default: #3E31FA;
    --rm-color-primary-dark: #2115AB;
    --rm-color-primary-bg: #EEF2FD;
    --rm-color-grayscale-off-white: #FBFDFF;
    --rm-color-grayscale-bg: #F3F5F8;
    --rm-color-grayscale-input: #EDEFF2;
    --rm-color-grayscale-line: #E1E5EA;
    --rm-color-grayscale-light: #C7CCD6;
    --rm-color-grayscale-medium: #ACB4C1;
    --rm-color-grayscale-placehold: #8C95A6;
    --rm-color-grayscale-body-light: #788398;
    --rm-color-grayscale-label: #5E6A83;
    --rm-color-grayscale-hint: #788398;
    --rm-color-grayscale-body: #43526E;
    --rm-color-grayscale-dark: #29395A;
    --rm-color-grayscale-title: #0F2145;
    --rm-color-grayscale-off-black: #14142B;
    --rm-color-gradients-01-primary: linear-gradient( 8deg, var(--rm-color-primary-default) 15.1%, var(--rm-color-secondary-default) 100% );
    --rm-color-gradients-02-dark: linear-gradient( 198deg, var(--rm-color-primary-default) 0%, #2115AB 100% );
    --rm-color-gradients-03-inverse: linear-gradient( 8deg, var(--rm-color-secondary-default) 15.1%, var(--rm-color-primary-default) 100% );
    --rm-color-gradients-04-linear-light: linear-gradient( 270deg, #E7E7E7 0%, var(--rm-color-primary-white) 100% );
    --rm-color-gradients-platinum: linear-gradient(109deg, #636682 0%, #BDBECC 61.13%, #A8AABD 100%);
    --rm-color-gradients-gold: linear-gradient( 62.54deg, #BCA48F 42.67%, rgb(234 199 169 / 76%) 89.87% ), #BCA48F;
    --rm-color-gradients-gold-dark: linear-gradient( 62.54deg, #AB6C02 42.67%, rgb(183 118 0 / 66%) 89.87% );
    --rm-color-secondary-bg: #EDEBFA;
    --rm-color-secondary-light: #E6DDFF;
    --rm-color-secondary-darkmode: #A991EC;
    --rm-color-secondary-default: #8760F6;
    --rm-color-secondary-dark: #3F18B0;
    --rm-color-tertiary-light: #FFDF9A;
    --rm-color-tertiary-medium: #F2BE4E;
    --rm-color-error-light: #FFF1F6;
    --rm-color-error-bg: #FCE3EC;
    --rm-color-error-darkmode: #FA9ABC;
    --rm-color-error-default: #CA024F;
    --rm-color-error-dark: #9E0038;
    --rm-color-success-light: #F1F9EA;
    --rm-color-success-bg: #E0F2D1;
    --rm-color-success-darkmode: #A2D98C;
    --rm-color-success-default: #3D923D;
    --rm-color-success-dark: #026C02;
    --rm-color-warning-light: #FFF8E9;
    --rm-color-warning-bg: #FEEDC8;
    --rm-color-warning-darkmode: #FFDF9A;
    --rm-color-warning-default: #EAAC30;
    --rm-color-warning-dark: #946300;
    --rm-color-overlay-downward-lighten: linear-gradient(180deg, #FFFFFFBF 0%, #FFF0 100%);
    --rm-color-overlay-upward-lighten: linear-gradient(180deg, #FFF0 0%, #FFFFFFBF 100%);
    --rm-color-overlay-downward-darken: linear-gradient(180deg, #000000BF 0%, #0000 100%);
    --rm-color-overlay-upward-darken: linear-gradient(180deg, #0000 0%, #000000BF 100%);
    --rm-color-transparent-dark-overlay-95: #14142BF2;
    --rm-color-transparent-dark-overlay-75: #14142BBF;
    --rm-color-transparent-dark-overlay-65: #14142BA6;
    --rm-color-transparent-dark-overlay-40: #14142B66;
    --rm-color-transparent-dark-overlay-25: #14142B40;
    --rm-color-transparent-dark-overlay-10: #14142B1A;
    --rm-color-transparent-light-overlay-95: #EFF0F6F2;
    --rm-color-transparent-light-overlay-75: #EFF0F6BF;
    --rm-color-transparent-light-overlay-65: #EFF0F6A6;
    --rm-color-transparent-light-overlay-40: #EFF0F666;
    --rm-color-transparent-light-overlay-25: #EFF0F640;
    --rm-color-transparent-light-overlay-10: #EFF0F61A;
    --rm-color-sky-100: #E5EBFE;
    --rm-color-sky-300: #7897FF;
    --rm-color-primary-shadow: rgb(84 77 183 / 78%);
    --rm-color-primary-active-outline: rgb(239 240 246 / 40%);
    --rm-color-secondary-background-hover: rgb(235 236 255 / 50.2%);
    --rm-button-primary-color: var(--rm-color-white);
    --rm-button-primary-background-color: var(--rm-color-primary-default);
    --rm-button-primary-background-image: var(--rm-color-gradients-01-primary);
    --rm-button-primary-shadow-hover: 0 1rem 3rem -1rem var(--rm-color-primary-shadow);
    --rm-button-primary-background-image-focus: var(--rm-color-gradients-02-dark);
    --rm-button-primary-shadow-focus: 0 1rem 3rem -1rem var(--rm-color-primary-shadow);
    --rm-button-primary-outline-color-active: var(--rm-color-primary-default);
    --rm-button-secondary-color: var(--rm-color-primary-default);
    --rm-button-secondary-background-color: var(--rm-color-primary-white);
    --rm-button-secondary-border-color: var(--rm-color-primary-default);
    --rm-button-secondary-background-color-hover: var(--rm-color-secondary-background-hover);
    --rm-button-secondary-color-focus: var(--rm-color-primary-dark);
    --rm-button-secondary-background-color-focus: var(--rm-color-secondary-background-hover);
    --rm-button-secondary-border-color-focus: var(--rm-color-primary-dark);
    --rm-button-secondary-color-active: var(--rm-color-primary-dark);
    --rm-button-secondary-border-color-active: var(--rm-color-primary-dark);
    --rm-button-secondary-outline-color-active: var(--rm-color-primary-dark);
    --rm-button-subtle-color: var(--rm-color-primary-default);
    --rm-button-subtle-background-color: var(--rm-color-primary-white);
    --rm-button-subtle-border-color: var(--rm-color-grayscale-line);
    --rm-button-subtle-color-hover: var(--rm-color-primary-default);
    --rm-button-subtle-background-color-hover: var(--rm-color-primary-white);
    --rm-button-subtle-border-color-hover: var(--rm-color-primary-default);
    --rm-button-subtle-color-focus: var(--rm-color-primary-dark);
    --rm-button-subtle-background-color-focus: var(--rm-color-primary-white);
    --rm-button-subtle-border-color-focus: var(--rm-color-primary-dark);
    --rm-button-subtle-color-active: var(--rm-color-primary-dark);
    --rm-button-subtle-background-color-active: var(--rm-color-primary-white);
    --rm-button-subtle-border-color-active: var(--rm-color-grayscale-line);
    --rm-button-subtle-outline-color-active: var(--rm-color-primary-default);
    --rm-button-danger-color: var(--rm-color-error-default);
    --rm-button-danger-background-color: var(--rm-color-primary-white);
    --rm-button-danger-border-color: var(--rm-color-grayscale-line);
    --rm-button-danger-color-hover: var(--rm-color-error-default);
    --rm-button-danger-background-color-hover: var(--rm-color-primary-white);
    --rm-button-danger-border-color-hover: var(--rm-color-error-default);
    --rm-button-danger-color-focus: var(--rm-color-error-dark);
    --rm-button-danger-background-color-focus: var(--rm-color-primary-white);
    --rm-button-danger-border-color-focus: var(--rm-color-error-dark);
    --rm-button-danger-color-active: var(--rm-color-error-dark);
    --rm-button-danger-background-color-active: var(--rm-color-primary-white);
    --rm-button-danger-border-color-active: var(--rm-color-grayscale-line);
    --rm-button-danger-outline-color-active: var(--rm-color-error-default);
    --rm-button-link-color: var(--rm-color-grayscale-body-light);
    --rm-button-link-color-hover: var(--rm-color-primary-default);
    --rm-button-link-color-active: var(--rm-color-primary-default);
    --rm-button-link-background-active: var(--rm-color-primary-light);
    --rm-button-link-color-focus: var(--rm-color-primary-dark);
    --rm-button-text-color: var(--rm-color-primary-default);
    --rm-button-text-color-hover: var(--rm-color-primary-default);
    --rm-button-text-background-focus: var(--rm-color-primary-light);
    --rm-button-text-color-focus: var(--rm-color-primary-dark);
    --rm-button-text-color-active: var(--rm-color-primary-default);
    --rm-button-text-outline-color-active: var(--rm-color-primary-default);
    --rm-chip-color: var(--rm-color-grayscale-body);
    --rm-chip-background-color: var(--rm-color-white);
    --rm-chip-border-color: var(--rm-color-primary-light);
    --rm-chip-color-hover: var(--rm-color-grayscale-body);
    --rm-chip-background-hover: var(--rm-color-primary-bg);
    --rm-chip-border-color-hover: var(--rm-color-primary-light);
    --rm-chip-color-focus: var(--rm-color-primary-default);
    --rm-chip-background-focus: var(--rm-color-primary-bg);
    --rm-chip-border-color-focus: var(--rm-color-primary-default);
    --rm-chip-color-active: var(--rm-color-primary-default);
    --rm-chip-background-active: var(--rm-color-primary-bg);
    --rm-chip-border-color-active: var(--rm-color-primary-default);
    --rm-text-color: var(--rm-color-grayscale-off-black);
    --rm-input-message-error: var(--rm-color-error-default);
    --rm-color-white: #FFF;
    --rm-color-black: #000;
    --rm-font-family-default: RMNeue, arial, helvetica;
    --rm-base-font: 1rem;
    --rm-line-height-base: 1.5;
    --rm-letter-spacing: -.0625rem;
    --rm-letter-spacing-small: .0469rem;
    --rm-letter-spacing-x-small: .0156rem;
    --rm-font-weight-light: 300;
    --rm-font-weight-base: 400;
    --rm-font-weight-medium: 500;
    --rm-font-weight-semi-bold: 600;
    --rm-font-weight-bold: 700;
    --rm-typo-display-bold-font-weight: var(--rm-font-weight-bold);
    --rm-typo-display-normal-font-weight: var(--rm-font-weight-base);
    --rm-typo-display-d1-huge-font-size: 7rem;
    --rm-typo-display-d1-huge-line-height: 1.1;
    --rm-typo-display-d1-huge-letter-spacing: -1px;
    --rm-typo-display-d2-large-font-size: 5.5rem;
    --rm-typo-display-d2-large-line-height: 1.1;
    --rm-typo-display-d2-large-letter-spacing: -1px;
    --rm-typo-display-d3-medium-font-size: 4.5rem;
    --rm-typo-display-d3-medium-line-height: 1;
    --rm-typo-display-d3-medium-letter-spacing: -1px;
    --rm-typo-display-d4-small-font-size: 3.5rem;
    --rm-typo-display-d4-small-line-height: 1;
    --rm-typo-display-d4-small-letter-spacing: -1px;
    --rm-typo-heading-bold-font-weight: var(--rm-font-weight-bold);
    --rm-typo-heading-normal-font-weight: var(--rm-font-weight-base);
    --rm-typo-heading-h1-large-font-size: 3rem;
    --rm-typo-heading-h1-large-line-height: 1.1;
    --rm-typo-heading-h1-large-letter-spacing: -1px;
    --rm-typo-heading-h2-large-font-size: 2.5rem;
    --rm-typo-heading-h2-large-line-height: 1.1;
    --rm-typo-heading-h2-large-letter-spacing: -1px;
    --rm-typo-heading-h3-medium-font-size: 2rem;
    --rm-typo-heading-h3-medium-line-height: 1.1;
    --rm-typo-heading-h3-medium-letter-spacing: -.5px;
    --rm-typo-heading-h4-small-font-size: 1.5rem;
    --rm-typo-heading-h4-small-line-height: 1.1;
    --rm-typo-heading-h4-small-letter-spacing: -.5px;
    --rm-typo-heading-h5-x-small-font-size: 1.25rem;
    --rm-typo-heading-h5-x-small-line-height: 1.2;
    --rm-typo-heading-h5-x-small-letter-spacing: -.5px;
    --rm-typo-body-font-weight: var(--rm-font-weight-base);
    --rm-typo-body-large-font-size: 1.25rem;
    --rm-typo-body-large-line-height: 1.6;
    --rm-typo-body-large-letter-spacing: 0;
    --rm-typo-body-medium-font-size: 1.125rem;
    --rm-typo-body-medium-line-height: 1.3;
    --rm-typo-body-medium-letter-spacing: 0;
    --rm-typo-body-small-font-size: 1rem;
    --rm-typo-body-small-line-height: 1.2;
    --rm-typo-body-small-letter-spacing: 0;
    --rm-typo-body-x-small-font-size: .875rem;
    --rm-typo-body-x-small-line-height: 1.2;
    --rm-typo-body-x-small-letter-spacing: 0;
    --rm-typo-body-xs-small-font-size: .75rem;
    --rm-typo-body-xs-small-line-height: 1.3;
    --rm-typo-body-xs-small-letter-spacing: 0;
    --rm-typo-body-tiny-font-size: .625rem;
    --rm-typo-body-tiny-line-height: 1.2;
    --rm-typo-body-tiny-letter-spacing: 0;
    --rm-typo-link-font-weight: var(--rm-font-weight-semi-bold);
    --rm-typo-link-huge-font-size: 1.25rem;
    --rm-typo-link-huge-line-height: 1.6;
    --rm-typo-link-huge-letter-spacing: .75px;
    --rm-typo-link-large-font-size: 1.125rem;
    --rm-typo-link-large-line-height: 1.6;
    --rm-typo-link-large-letter-spacing: .75px;
    --rm-typo-link-medium-font-size: 1.125rem;
    --rm-typo-link-medium-line-height: 1.3;
    --rm-typo-link-medium-letter-spacing: .75px;
    --rm-typo-link-small-font-size: 1rem;
    --rm-typo-link-small-line-height: 1.2;
    --rm-typo-link-small-letter-spacing: 0;
    --rm-typo-link-x-small-font-size: .875rem;
    --rm-typo-link-x-small-line-height: 1.2;
    --rm-typo-link-x-small-letter-spacing: .75px;
    --rm-typo-link-xs-small-font-size: .75rem;
    --rm-typo-link-xs-small-line-height: 1.3;
    --rm-typo-link-xs-small-letter-spacing: 0;
    --rm-typo-link-underline-font-weight: var(--rm-font-weight-semi-bold);
    --rm-typo-link-underline-large-font-size: 1.25rem;
    --rm-typo-link-underline-large-line-height: 1.6;
    --rm-typo-link-underline-large-letter-spacing: .75;
    --rm-typo-link-underline-medium-font-size: 1.125rem;
    --rm-typo-link-underline-medium-line-height: 1.3;
    --rm-typo-link-underline-medium-letter-spacing: 0;
    --rm-typo-link-underline-small-font-size: 1rem;
    --rm-typo-link-underline-small-line-height: 1.2;
    --rm-typo-link-underline-small-letter-spacing: 0;
    --rm-typo-link-underline-x-small-font-size: .875rem;
    --rm-typo-link-underline-x-small-line-height: 1.2;
    --rm-typo-link-underline-x-small-letter-spacing: 0;
    --rm-typo-link-underline-xs-small-font-size: .75rem;
    --rm-typo-link-underline-xs-small-line-height: 1.3;
    --rm-typo-link-underline-xs-small-letter-spacing: 0;
    --rm-typo-link-underline-tiny-font-size: .625rem;
    --rm-typo-link-underline-tiny-line-height: 1.2;
    --rm-typo-link-underline-tiny-letter-spacing: 0;
    --rm-typo-caption-font-weight: var(--rm-font-weight-base);
    --rm-typo-caption-small-font-size: .8125rem;
    --rm-typo-caption-small-line-height: 1.4;
    --rm-typo-caption-small-letter-spacing: 0;
    --rm-checkbox-white: var(--rm-color-white);
    --rm-checkbox-dark: var(--rm-color-grayscale-off-black);
    --rm-checkbox-primary: var(--rm-color-primary-default);
    --rm-checkbox-border-radius-large: .5rem;
    --rm-checkbox-border-radius-small: .375rem;
    --rm-checkbox-height-large: 2rem;
    --rm-checkbox-height-small: 1.25rem;
    --rm-input-height-small: 3em;
    --rm-input-height-medium: 3.5em;
    --rm-input-height-large: 4em;
    --rm-input-padding-y-large: 1.375em;
    --rm-input-padding-x: 1.125em;
    --rm-input-color-text: var(--rm-color-grayscale-label);
    --rm-input-color-text-active: var(--rm-color-grayscale-off-black);
    --rm-input-height-error: 2.25em;
    --rm-input-background-color-initial: var(--rm-color-grayscale-input);
    --rm-input-background-color: var(--rm-color-white);
    --rm-input-caret-color: var(--rm-color-primary-default);
    --rm-input-border-width: 2px;
    --rm-input-border-radius-small: .75em;
    --rm-input-border-radius-medium: .75em;
    --rm-input-border-radius-large: .75em;
    --rm-input-hint-color: var(--rm-color-grayscale-hint);
    --rm-input-icons: var(--rm-color-grayscale-placehold);
    --rm-button-transition-duration: var(--rm-transition-duration-ms);
    --rm-button-font-size-x-small: var(--rm-typo-link-x-small-font-size);
    --rm-button-font-size-small: var(--rm-typo-link-small-font-size);
    --rm-button-font-size-medium: var(--rm-typo-link-medium-font-size);
    --rm-button-font-size-large: var(--rm-typo-link-large-font-size);
    --rm-button-font-size-huge: var(--rm-typo-link-huge-font-size);
    --rm-button-height-x-small: 2.857em;
    --rm-button-height-small: 3em;
    --rm-button-height-medium: 3.111em;
    --rm-button-height-large: 3.556em;
    --rm-button-height-huge: 3.6em;
    --rm-button-border-radius-x-small: .571em;
    --rm-button-border-radius-small: .75em;
    --rm-button-border-radius-medium: .667em;
    --rm-button-border-radius-large: .889em;
    --rm-button-border-radius-huge: .8em;
    --rm-button-padding-x-small: .643em 1.143em;
    --rm-button-padding-inline-x-small: .643em;
    --rm-button-padding-small: .75em 1.25em;
    --rm-button-padding-inline-small: 1.25em;
    --rm-button-padding-medium: .667em 1.333em;
    --rm-button-padding-inline-medium: 1.333em;
    --rm-button-padding-large: .889em 1.778em;
    --rm-button-padding-inline-large: 1.778em;
    --rm-button-padding-huge: .8em 1.6em;
    --rm-button-padding-inline-huge: 1.6em;
    --rm-button-font-weight: var(--rm-typo-link-font-weight);
    --rm-button-line-height-x-small: var(--rm-typo-link-x-small-line-height);
    --rm-button-line-height-small: var(--rm-typo-link-small-line-height);
    --rm-button-line-height-medium: var(--rm-typo-link-medium-line-height);
    --rm-button-line-height-large: var(--rm-typo-link-large-line-height);
    --rm-button-line-height-huge: var(--rm-typo-link-huge-line-height);
    --rm-button-letter-spacing: var(--rm-letter-spacing-small);
    --rm-button-letter-spacing-x-small: var(--rm-letter-spacing-x-small);
    --rm-pill-height-x-small: 40px;
    --rm-pill-height-medium: 56px;
    --rm-pill-border-radius-x-small: .5rem;
    --rm-pill-border-radius-medium: .75rem;
    --rm-pill-padding-x-small: .563rem 1rem;
    --rm-pill-padding-inline-x-small: .563rem;
    --rm-pill-padding-medium: .75rem 1.5rem;
    --rm-pill-padding-inline-medium: 1.5rem;
    --rm-pill-font-size-x-small: var(--rm-typo-link-x-small-font-size);
    --rm-pill-font-size-small: var(--rm-typo-link-small-font-size);
    --rm-pill-font-size-medium: var(--rm-typo-link-medium-font-size);
    --rm-pill-font-weight: var(--rm-typo-link-font-weight);
    --rm-pill-line-height-x-small: var(--rm-typo-link-x-small-line-height);
    --rm-pill-line-height-medium: var(--rm-typo-link-medium-line-height);
    --rm-pill-letter-spacing: var(--rm-letter-spacing-small);
    --rm-pill-letter-spacing-x-small: var(--rm-letter-spacing-x-small);
    --rm-chip-height-small: 2rem;
    --rm-chip-height-medium: 2.5rem;
    --rm-chip-border-radius-small: 1rem;
    --rm-chip-border-radius-medium: 1.5rem;
    --rm-chip-padding: .3125rem 1.25rem;
    --rm-chip-padding-inline: .5rem;
    --rm-chip-font-size: var(--rm-typo-link-x-small-font-size);
    --rm-chip-font-weight: var(--rm-typo-body-font-weight);
    --rm-chip-line-height: var(--rm-typo-link-x-small-line-height);
    --rm-chip-letter-spacing: var(--rm-letter-spacing-small);
    --rm-disabled-opacity: .5;
    --rm-disabled-filter: grayscale(100%);
    --rm-scroll-modal-width: calc(100% - 1px);
    --rm-scroll-modal-width-tablet: calc(100% - 1px);
    --rm-scroll-modal-width-laptop: calc(100% - 1px);
    --rm-scroll-modal-height: calc(100% - 5.625rem);
    --rm-scroll-modal-height-tablet: calc(100% - 5.625rem);
    --rm-scroll-modal-height-laptop: calc(100% - 3.875rem);
    --rm-scroll-modal-before-width: calc(100% + 1px);
    --rm-scroll-modal-before-height: 2.5rem;
    --rm-scroll-modal-after-width: calc(100% + 1px);
    --rm-scroll-modal-after-height: 2.5rem;
    --rm-scroll-modal-top: -1px;
    --rm-scroll-modal-bottom: -1px;
    --rm-scroll-modal-before-background: linear-gradient( var(--rm-color-primary-white), rgb(255 255 255 / 10%) );
    --rm-scroll-modal-after-background: linear-gradient( rgb(255 255 255 / 10%), var(--rm-color-primary-white) );
    --rm-scroll-modal-content-padding: 1.875rem .25rem 1.875rem 0;
    --rm-scroll-modal-content-margin: 0;
    --rm-modal-max-height-mobile: calc(100vh - 1.5rem);
    --rm-modal-max-height-tablet: calc(100vh - 8rem);
    --rm-modal-max-height-laptop: calc(100vh - 8rem);
    --max-width: 37.5rem;
    --rm-modal-min-height-mobile: 36rem;
    --rm-modal-min-height-laptop: 40rem;
    --rm-sm-padding: .3125rem;
    --rm-md-padding: .625rem;
    --rm-lg-padding: .9375rem;

    text-size-adjust: 100%;
    font-family: var(--rm-font-family-default);
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-weight: var(--rm-button-font-weight);
    background-color: transparent;
    outline: 2px solid transparent;
    outline-offset: 5px;
    transition: color var(--rm-transition-duration-ms) ease-in-out,background-color var(--rm-transition-duration-ms) ease-in-out,margin var(--rm-transition-duration-ms) ease-in-out;
    min-height: var(--rm-button-height-small);
    padding-inline: var(--rm-button-padding-inline-small);
    font-size: var(--rm-button-font-size-small);
    border-radius: var(--rm-button-border-radius-small);
    letter-spacing: var(--rm-typo-link-small-letter-spacing);
    border: 0;
    padding: .625rem .75rem;
    line-height: 1.2;
    color: var(--rm-color-grayscale-body);
}