/*
 * Copyright 2023 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */



/* fallback font for Open Sans (normal - 400) */
@font-face {
  font-family: "open-sans-normal-400-fallback";
  size-adjust: 104.701%;
  src: local("Arial");
}


/* fallback font for Oswald (normal - 400) */
@font-face {
  font-family: "oswald-normal-400-fallback";
  size-adjust: 81.4%;
  src: local("Arial");
}

/* fallback font for headings in arabic */
@font-face {
  font-family: arabic-heading-fallback;
  src: local("Arial");
  size-adjust: 110%;
  unicode-range: U+0600-06FF;
}

/* fallback font for RMNeue (normal - 400) for header */
@font-face {
  font-family: "rmneue-normal-400-fallback";
  size-adjust: 98.669%;
  src: local("Arial");
}

/* fallback font for RMNeue (normal - 700) for header */
@font-face {
  font-family: "rmneue-normal-700-fallback";
  size-adjust: 100.491%;
  src: local("Arial");
}

/* mobile settings */
 :root {
  /* RM: colors */
  --link-color: #016ace;
  --link-hover-color: #016ace;
  --background-color: #fff;
  --overlay-background-color: #eee; /* ??? needed */
  --highlight-background-color: #ccc; /* ??? needed */
  --section-tour-background-color: #efefef; /* ??? needed */
  --text-color: #43526E;

  /* RM: fonts */
  --body-font-family: "Open Sans", "open-sans-normal-400-fallback", arial, helvetica, sans-serif;
  --heading-font-family: "Oswald", "arabic-heading-fallback", "oswald-normal-400-fallback", sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  --header-font-family: "RMNeue","rmneue-normal-400-fallback";
  --header-font-family-bold: "RMNeue","rmneue-normal-700-fallback";
  --icons-font-family : "Real-Madrid-Icons", sans-serif;

  /* RM: body sizes */
  --body-font-size-m: 20px;
  --body-font-size-s: 18px; /* RM: Standard text */
  --body-font-size-xs: 15px;

  /* RM: body font weight */
  --body-font-weight-default: 400;

  /* heading sizes */
  --heading-font-size-xxxl: 60px;
  --heading-font-size-xxl: 55px; /* RM: h1 */
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 28px;
  --heading-font-size-s: 21px; /* RM:h2, h3 */
  --heading-font-size-xs: 20px;


  /** heading color */
  --heading-color: #333;
  --heading-border-color: #0255A5;

  /* nav height */
  --nav-height: 4rem;

  /* default width for content wrapper divs */
  --wrapper-width: 100%;
  --section-heading-width: 100%;

  /* RM Icons colors */
  --icon-primary-color: #999;
  --icon-secondary-color: #fff;
  --icon-terciary-color: #777;

}

/* Desktop */
@media (min-width: 990px) {
  :root {
    --heading-font-size-xxl: 100px; /* RM: h1 */
    --wrapper-width: 960px;
    --section-heading-width: 40%;
  }

  h2 {
    width: 40%;
  }
}

/* new header: switch from  mobile to desktop nav */
@media (min-width: 66.0625rem) {
  :root {
    --nav-height: 4.5rem;
  }
}

/* Wide Desktop */
@media (min-width: 1200px) {
  :root {
    --wrapper-width: 1200px;
  }
}

/* RM: checked */
body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.59;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  padding-top: var(--nav-height);
}

/* required by franklin */
body.appear {
  display: unset;
}

/* RM: changes with width */
header {
  height: var(--nav-height);
}

h1, h2, h3 {
  font-family: var(--heading-font-family);
}

h1 {
  line-height: normal;
}


/* Default H2 for the whole website, and specifically for the first h2 in the info-vip section */
h2,
body.area-vip .section.section.info-vip > .default-content-wrapper:first-of-type h2 {
  font-size: var(--heading-font-size-s);
  font-weight: 300;
  color: var(--text-color);
  margin-bottom: 15px;
  line-height: 1.43;
  border: none;
  text-transform: none;
}


/* Default H2 for area-vip */
/* stylelint-disable-next-line no-descending-specificity */
body.area-vip h2 {
  font-size: var(--heading-font-size-xs);
  font-weight: 500;
  line-height: 1.25;
  color: var(--heading-color);
  text-transform: uppercase;
  margin-bottom: 21px;
  padding-bottom: 5px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid var(--heading-border-color);
}

/* RM: default content */
p {
  font-size: var(--body-font-size-s);
  font-weight: var(--body-font-weight-default);
  line-height: 1.59;
  letter-spacing: -0.3px;
  color: var(--text-color);
  margin-bottom: 20px;
}

/* RM: checked */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* RM : TBD , buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  font-size: var(--heading-font-size-s);
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.2px;
  color: var(--background-color);
  background-color: var(--link-color);
  display: inline-block;
  padding: 10px 25px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px 0 #00000029;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section > div {
  width: var(--wrapper-width);
  margin: 0 auto;
}

/* INFO VIP styles */
.section.info-vip > .default-content-wrapper {
  width: auto;
  padding: 25px 20px 0;
  grid-column: 2/3;
  grid-row: auto;
}

.section.info-vip > .default-content-wrapper:first-of-type {
  margin-top: 60px;
}

/* stylelint-disable-next-line no-descending-specificity */
.section.info-vip > .default-content-wrapper h2 {
  margin-left: 0;
}

@media (min-width: 990px)  {
  h2,
  body.area-vip .section.section.info-vip > .default-content-wrapper:first-of-type h2 {
    font-size: var(--heading-font-size-m);
    width: auto;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  body.area-vip h2 {
    width: var(--section-heading-width);
    margin-inline-start: 10px;
  }

  .section.info-vip {
    display: grid;
    grid-template-columns: auto 800px 400px auto;
    grid-template-rows: auto auto;
  }

  .section.info-vip > .default-content-wrapper {
    width: 685px; /* TODO: review this. hardcoding it for now */
    padding-top: 25px;
    padding-inline-end: 100px;
    padding-inline-start: 15px;
    padding-bottom: 0;
    grid-column: 2/3;
    grid-row: auto;
    margin-left: 0;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .section.info-vip > .default-content-wrapper h2 {
    width: 68%;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .section.info-vip {
    grid-template-columns: auto 600px 360px auto;
  }

  .section.info-vip > .default-content-wrapper {
    width: 485px; /* TODO: review this. hardcoding it for now */
  }
}

/* TOUR STYLES */
body.tour main p {
  font-size: var(--body-font-size-s);
}

body.tour main .section {
  padding: 0 20px;
  position:relative;
  background: var(--background-color);
}

body.tour main .section p {
  margin-bottom: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
body.tour .section .default-content-wrapper {
  padding-bottom: 61px;
  padding-top: 54px;
}

body.tour .section.padding-bottom-small .default-content-wrapper {
  padding-bottom: 28px;
}

body.tour .default-content-wrapper ul {
  margin-left: 1.75rem;
}

body.tour main .section-organize-visit {
  background-color: var(--section-tour-background-color);
  overflow: hidden;
  padding: 54px 20px 49px;
}

body.tour main .section .default-content-wrapper p {
  color: var(--text-color);
  margin: 0;
}

body.tour main .section .default-content-wrapper p:last-of-type.button-container a {
  text-transform: none;
  font-size: var(--body-font-size-s);
  color: var(--text-color);
  background-color: unset;
  font-weight: 500;
  border: unset;
  padding: 30px 0 0;
  text-decoration: underline;
  box-shadow: unset;
}

/* stylelint-disable-next-line no-descending-specificity */
body.tour main h2 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  margin-bottom: 3px;
  margin-top: 0;
  font-size: var(--heading-font-size-m);
}

/* stylelint-disable-next-line no-descending-specificity */
body.tour main .section-organize-visit h2{
  margin-bottom: 49px;
  margin-top: 0;
  color: var(--text-color);
}

body.tour main .merge-blocks-desktop {
  padding-bottom: 50px;
}

@media (min-width: 990px) {
  body.tour .section .default-content-wrapper {
    padding-bottom: 89px;
    padding-top: 83px;
  }

  body.tour main .merge-blocks-desktop {
    display: flex;
    width: var(--wrapper-width);
    margin: 0 auto;
    column-gap: 26px;
    padding-bottom: 96px;
  }

  body.tour .merge-blocks-desktop .columns-wrapper{
    flex-basis: 75%;
  }

  body.tour .merge-blocks-desktop .columns > div{
    align-items: flex-start;
    column-gap: 26px;
  }

  body.tour .merge-blocks-desktop .badge-wrapper{
    flex-basis: 25%;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
body.tour.tour-detail main .main-section h2 {
  font-size: var(--heading-font-size-l);
  margin-bottom: 0;
}

body.tour.tour-detail main .main-section h3 {
  font-size: var(--heading-font-size-s);
  font-weight: 300;
  margin-bottom: 13px;
  letter-spacing: -0.21px;
  line-height: 29px;
  color: var(--heading-color);
}

body.tour.tour-detail main .main-section blockquote {
  padding: 0 28px;
  margin: 0;
}

body.tour.tour-detail main .main-section blockquote p {
  font-size: var(--body-font-size-m);
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: #64809b;
}

body.tour.tour-detail main .main-section p:first-of-type {
  margin-bottom: 20px;
}

body.tour.tour-detail main .main-section ul {
  margin-left: 0;
  padding-left: 24px;
}

body.tour.tour-detail main .main-section ul li::marker {
  color: #d8dfe6;
}

body.tour.tour-detail main .main-section ul li {
  color: var(--text-color);
}

body.tour.tour-detail main .main-section blockquote::before,
body.tour.tour-detail main .main-section blockquote::after {
  content: '';
  width: 50px;
  height: 1px;
  margin: 38px auto 22px;
  display: block;
  background-color: #64809b;
}

@media (min-width: 990px) {
  body.tour.tour-detail main .main-section {
    width: 930px;
    margin: 0 auto;
    padding: 0;
  }

  body.tour.tour-detail main .main-section .default-content-wrapper {
    width: auto;
  }

  body.tour.tour-detail main .main-section h2 {
    font-size: var(--heading-font-size-xxxl);
    line-height: 65px;
  }

  body.tour.tour-detail main .main-section h3 {
    margin-top: 70px;
    font-size: var(--heading-font-size-m);
  }

  body.tour.tour-detail main .main-section p,
  body.tour.tour-detail main .main-section h3 {
    padding-left: 290px;
  }

  body.tour.tour-detail main .main-section blockquote {
    padding-left: 431px;
    padding-right: 135px;
  }

  body.tour.tour-detail main .main-section blockquote p {
    padding: 0;
  }

  body.tour.tour-detail main .main-section ul {
    padding-left: 314px;
  }
}

/* -- VIP FAQ Template Styles -- */

/* restyle contact card */
body.vip-faq .contact-card.block {
  border: 1px solid #d9d9d9;
  padding: 10px;
  margin: 20px auto;
}

/* move default content to the main content grid area */
body.vip-faq main .section {
  grid-area: content;
  margin: 10px;
}

/* header auto block to the top area */
body.vip-faq main .section.content-header-container {
  grid-area: header;
  margin: 0;
}

/* contact card fragment to the right side */
body.vip-faq main .section.contact-card-container {
  grid-area: info;
  margin: 20px;
}

/* ajust inner widths */
body.vip-faq main .section > div {
  width: 100%;
}

/* define font settings for all default content elements */
/* stylelint-disable-next-line no-descending-specificity */
body.vip-faq main .section div p, body.vip-faq main .section div ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #666;
}

@media (min-width: 990px) {
  /* fix width for columns for all non-mobile media */
  body.vip-faq main  {
    display: grid;
    grid: 'header header header header'
          '. content info .' / auto 640px 320px auto;
  }

  /* remove margin from info block */
  body.vip-faq .contact-card.block {
    margin: 0;
  }

  body.vip-faq main .section {
    grid-area: content;
    margin-top:  40px 0 0 0;
  }
}

/** STYLES FOR AUTHORING GUIDE **/
/* stylelint-disable-next-line no-descending-specificity */
body.documentation h2 {
  margin-top: 100px;
  font-weight: 400;
}

/* stylelint-disable-next-line no-descending-specificity */
body.documentation h3 {
  margin-top: 60px;
  font-weight: 400;
  font-size: 1.1em;
}

/* stylelint-disable-next-line no-descending-specificity */
body.documentation img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  display: block;
  border:solid 1px #444;
}
