.section.intro.contact-card-container > .contact-card-wrapper {
    height: 350px;
    /* this should be a variabale */
    background-color: rgba(0,0,0,0.05);
}

.section.intro.contact-card-container > .contact-card-wrapper h2 {
    font-size: 19px;
    font-weight: 500;
  }

@media (min-width: 990px)  {
    .section.intro.contact-card-container {
        display: grid;
        grid-template-columns: auto 800px 400px auto;
        grid-template-rows: auto auto;
    }

    .section.intro.contact-card-container > .contact-card-wrapper {
        grid-column: 3/4;
        grid-row: 1/2;
    }
}


