footer .footer {
  width:100%;
}

footer .footer h2 {
  text-align: center;
  font-size: 0.94rem;
  letter-spacing: 0.14rem;
  color: #000;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  padding-bottom: 0.75rem;
  position: relative;
  margin-bottom: 1.88rem;
  text-transform: uppercase;
  border: none;
}

/* all links in the footer */
footer .footer a {
  text-decoration: none;
}

/* the separator below h2 titles */
footer .footer h2::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 1.88rem;
  height: 0.13rem;
  background-color: #777;
}

/* the list settings used for all social and app icons */
footer .footer ul  {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
}

/* the div containing the social and app links */
footer .footer .social-apps-container {
  font-family: Real-Madrid-New-Icons, sans-serif;
  padding: 4.38rem 1.25rem 3.75rem;
  box-sizing: border-box;
  background-color: #F8F8F8;
}

/* the div for the social links */
footer .footer .social-apps-container .social-container {
  margin: 0 auto 4.38rem;
  max-width: 17.81rem;
  width: 100%;
}

/* the social link icons */
footer .footer .social-container ul li  {
  width: calc(100% / 5);
  text-align: center;
  margin-bottom: 1.88rem;
}

footer .footer a.social::before {
  color: #888;
  font-size: 1.88rem;
}

footer .footer a.social.facebook::before {
  content: '\e920' ;
}

footer .footer a.social.instagram::before {
  content: '\e921' ;
}

footer .footer a.social.twitter::before {
  content: '\e922' ;
}

footer .footer a.social.youtube::before {
  content: '\e923' ;
}

footer .footer a.social.onefootball::before {
  content: '\e930' ;
}

footer .footer a.social.twitch::before {
  content: '\e92b' ;
}

footer .footer a.social.snapchat::before {
  content: '\e925' ;
}

footer .footer a.social.tiktok::before {
  content: '\e924' ;
}

/* the app icons */
footer .footer .apps-container ul li  {
    width: calc(100% / 3);
}

/* the div for the apps */
footer .footer .social-apps-container .apps-container {
  max-width: 17.81rem;
  margin: 0 auto;
  width: 100%;
}

footer .footer a.apps::before {
  font-size: 1.25rem;
  color: #fff;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #888;
  border-radius: 0.25rem;
  margin: 0 auto 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer a.apps.apple::before {
  content: '\e927' ;
}

footer .footer a.apps.google::before {
  content: '\e928' ;
}

footer .footer a.apps.huawei::before {
  content: '\e929' ;
}

/* text underneath the app icons */
footer .footer .apps-container a p  {
  font-family: var(--body-font-family);
  font-size: 0.69rem;
  font-weight: 300;
  letter-spacing: 0;
  color: #333;
  line-height: 0.94rem;
  text-align: center;
  flex-basis: 100%;
}

footer .footer .apps-container a p span {
  font-weight: 500;
  display: block;
  font-size: 0.75rem;
}

/* the div containing the sponsor links */
footer .footer .sponsor-container {
  padding: 4.19rem 1.13rem 5rem;
  box-sizing: border-box;
  background-color: #F0F0F0;
}

footer .footer .sponsor-container .sponsor-content {
  text-align: center;
}

/* just a placeholder until new footer is ready */
footer .footer .sponsor-container .sponsor-content .logos {
  height: 300px;
}

/* legal items list */
footer .footer .legal-container {
  padding: 0 1.88rem 3.44rem;
  box-sizing: border-box;
  background-color: #F0F0F0;
}

footer .footer .legal-container ul {
  max-width: 19.38rem;
  margin: 0 auto;
}

footer .footer .legal-container ul a {
  font-family: var(--body-font-family);
  font-size: 0.88rem;
  font-weight: normal;
  letter-spacing: 0;
  color: #222;
  line-height: 2.88rem;
  text-decoration: none;
  position: relative;
}

footer .footer .legal-container ul li::after {
  content: "•";
  color: #222;
  display: inline-block;
  margin: 0;
  text-align: center;
  height: 0.88rem;
  width: 1.25rem;
  vertical-align: middle;
  font-size: x-small;
}

/* copyright text */
footer .footer .copyright-container {
  padding: 0 0 3.19rem;
  background-color: #F0F0F0;  
}

/* stylelint-disable-next-line no-descending-specificity */
footer .footer .copyright-container p {
  font-family: var(--body-font-family);
  font-size: 0.75rem;
  text-align: center;
  color: #555;
  font-weight: normal;
  letter-spacing: 0;
  margin: 0;
}

/* Desktop */
@media (min-width: 990px) {
  footer .footer .social-apps-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap:220px;
    margin : 0 auto;
  }

  footer .footer .social-apps-container .social-container{
    max-width: 29.38rem;
    margin: 0;
  }

  footer .footer .social-apps-container .social-container li{
    width: calc(100% / 9);
    margin-bottom: 0;
  }

  footer .footer .social-apps-container .apps-container{
    margin: 0;
    width: 100%;
  }

  footer .footer .legal-container {
    padding: 4.69rem 0 1.56rem;
  }

  footer .footer .legal-container ul {
    max-width: none;
  }
}
