/* --- when shown inside the hero-tour block --- */

/* the outermost div */
.hero-tour.block .ticket-card-list li {
  width: auto;
  max-width: 18.75rem;
  box-sizing: border-box;
  padding: 0;
  border-radius: 1rem;
  background-color: rgba(255 255 255 / 90%);
  margin: 0 auto 3rem;
  color: #000;
  font-family: var(--body-font-family);
  font-size: 1rem;
}

/* more info link */
.hero-tour.block .ticket-card-list li > a  {
  font-size: 1rem;
  line-height: 1;
  color: #0067d1;
  padding: 0 1.875rem 1.5625rem;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-decoration: underline;
}

.hero-tour.block .ticket-card-list li > a::after  {
  content: '\e914';
  font-family: Real-Madrid-New-Icons, sans-serif;
  font-size: 0.625rem;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  width: 0.8125rem;
  height: 0.8125rem;
  overflow: hidden;
  border: solid 0.06rem #0067d1;
  border-radius: 50%;
  box-sizing: border-box;
  padding-top: 0.06rem;
  transform: translateX(0.5rem);
  font-style: normal;
  font-variant: normal;
}

/* ticket type block */
.hero-tour.block .ticket-card-list li .ticket-type {
  padding: 1.25rem;
  text-align: center;
  position: relative;
  margin: 0;
}

.hero-tour.block .ticket-card-list li .ticket-type .label {
    display: inline-block;
    border-radius: 0.3125rem;
    background-color: #ad8100;
    font-size: 0.75rem;
    line-height: 1;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

/* title */
.hero-tour.block .ticket-card-list li .ticket-type .title {
  font-size: 2.75rem;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  color: #0b3965;
}

/* subtitle */
.hero-tour.block .ticket-card-list li .ticket-type .subtitle {
  display: block;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.05rem;
  text-align: center;
  padding-top: 0.3125rem;
  color: rgba(11 57 101 / 80%);
  text-transform: uppercase;
}

/* the price block */
.hero-tour.block .ticket-card-list li .info-buy {
  display: flex;
  margin-bottom: 1.25rem;
}

/* price descriptions left side */
.hero-tour.block .ticket-card-list li .info-buy .price {
  width: 50%;
  flex: 0 1 auto;
}

.hero-tour.block .ticket-card-list li .info-buy .price p {
  text-align: right;
  font-size: 0.9375rem;
  letter-spacing: -0.02rem;
  margin: 0;
  padding:0;
}

/* price */
.hero-tour.block .ticket-card-list li .info-buy .price p .amount {
  font-size: 1.5625rem;
  line-height: 0.96;
  letter-spacing: -0.03rem;
  font-weight: 600;
}

/* currency */
.hero-tour.block .ticket-card-list li .info-buy .price p .currency {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
}

/* subtitle */
.hero-tour.block .ticket-card-list li .info-buy .price p .subtitle {
  display: block;
  color: #444;
  font-size: 0.875rem;
  text-align: right;
}

/* buy button */
.hero-tour.block .ticket-card-list li .info-buy .buy-button {
  width: 50%;
  flex: 0 1 auto;
}

.hero-tour.block .ticket-card-list li .info-buy .buy-button a {
  display: block;
  width: 100%;
  border-radius: 0.625rem;
  box-shadow: 0 0.19rem 0.5rem 0 rgba(0 0 0 / 40%);
  background-color: #0067d1;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.875rem 0;
  box-sizing: border-box;
  text-align: center;
  color: #f6f8f5;
  transform: translateX(1.5625rem);
  text-transform: uppercase;
  text-decoration: none;
}

/* ticket details block */
.hero-tour.block .ticket-card-list li .ticket-detail {
  background-color: #fff;
  box-sizing: border-box;
  padding: 1.25rem 1.875rem 0.5rem;
}

/* 'includes' text */
.hero-tour.block .ticket-card-list li .ticket-detail .content p {
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.75rem;
  margin-top:0;
}

/* list of includes */
.hero-tour.block .ticket-card-list li .ticket-detail ul {
  margin: 0 0 1.125rem 1.125rem;
  padding: 0;
  list-style-type: none;
  font-size: 1rem;
  line-height: 1.63;
  color: #444;
}

.hero-tour.block .ticket-card-list li .ticket-detail ul li {
  position: relative;
}

.hero-tour.block .ticket-card-list li .ticket-detail ul li::before {
  content: '–';
  display: block;
  position: absolute;
  left: -.75rem;
}

/* enable flex row and wide tickets */
@media (min-width: 37.5rem) {
  /* the outermost div */
  .hero-tour.block .ticket-card-list li {
    width: 17.5rem;
    position: relative;
    background: linear-gradient(to bottom, #e5e5e5 29%, #fff 70%);
    margin: 0 0.75rem 1.5rem;
    padding-bottom: 1.5625rem;
  }

  /* more info link */
  .hero-tour.block .ticket-card-list li > a  {
    font-size: 0.8125rem;
    position: absolute;
    bottom: 1.5625rem;
    left: 0;
    padding: 0 1.875rem;
    width: 100%;
    box-sizing: border-box;
  }

  /* ticket type block */
  .hero-tour.block .ticket-card-list li .ticket-type {
    padding: 1.5625rem 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  /* title */
  .hero-tour.block .ticket-card-list li .ticket-type .title {
    font-size: 2.5rem;
    width: 100%;
  }

  /* subtitle */
  .hero-tour.block .ticket-card-list li .ticket-type .subtitle {
    font-size: 0.625rem;
  }

  /* price descriptions left side */
  .hero-tour.block .ticket-card-list li .info-buy .price {
    width: 50%;
  }

  .hero-tour.block .ticket-card-list li .info-buy .price p {
    font-size: 0.88rem;
  }

  /* price */
  .hero-tour.block .ticket-card-list li .info-buy .price p .amount {
    font-size: 1.375rem;
  }

  /* currency */
  .hero-tour.block .ticket-card-list li .info-buy .price p .currency {
    font-size: 1rem;
  }

  /* subtitle */
  .hero-tour.block .ticket-card-list li .info-buy .price p .subtitle {
    font-size: 0.75rem;
  }

  /* buy button */
  .hero-tour.block .ticket-card-list li .info-buy .buy-button {
    width: 50%;
    padding: 0 0.9375rem 0 1.25rem;
    text-align: center;
    white-space: nowrap;
  }

  .hero-tour.block .ticket-card-list li .info-buy .buy-button a {
    margin: 0 auto;
    font-size: 0.85rem;
    padding: 0.875rem 1rem 0.75rem;
    transform: none;
  }

  /* ticket details block */
  .hero-tour.block .ticket-card-list li .ticket-detail {
    background-color: transparent;
    padding: 1.25rem 1.875rem 1.5625rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem; 
  }

  /* 'includes' text */
  .hero-tour.block .ticket-card-list li .ticket-detail .content p {
    font-size: 0.8125rem;
  }

  /* list of includes */
  .hero-tour.block .ticket-card-list li .ticket-detail ul {
    font-size: 0.8125rem;
    line-height: 1.77;
    margin: 0 0 0.875rem 1.125rem;
  }
}

/* switch to narrow tickets */
@media (min-width: 58.13rem) {

   /* the outermost div */
  .hero-tour.block .ticket-card-list li {
    width: 13.75rem;
    margin: 0 0.9375rem 1.5rem 0;
  }

  /* more info link */
  .hero-tour.block .ticket-card-list li > a {
    padding: 0 0.9375rem;
  }

  /* ticket type block */
  .hero-tour.block .ticket-card-list li .ticket-type {
    min-height: 9.0625rem;
    box-sizing: border-box;
    padding: 1.25rem;
  }

  /* the price block */
  .hero-tour.block .ticket-card-list li .info-buy {
    flex-wrap: wrap;
    margin-bottom: 0.3125rem;
  }

  /* price descriptions left side */
  .hero-tour.block .ticket-card-list li .info-buy .price {
    width: 100%;
    margin: 0 0 0.5rem;
  }

  .hero-tour.block .ticket-card-list li .info-buy .price p {
    text-align: center;
  }

  /* subtitle */
  .hero-tour.block .ticket-card-list li .info-buy .price p .subtitle {
    text-align: center;
  }

  /* buy button */
  .hero-tour.block .ticket-card-list li .info-buy .buy-button {
    width: 100%;
    padding: 0 0.9375rem;
  }

  .hero-tour.block .ticket-card-list li .info-buy .buy-button a {
    width: auto;
    display: inline-block;
    padding: 0.875rem 1.5rem 0.75rem;
  }

  /* ticket details block */
  .hero-tour.block .ticket-card-list li .ticket-detail {
    padding: 1.25rem 0.9375rem;
  }
}

/* normal wide tickets */
@media (min-width: 75rem) {
  /* the outermost div */
  .hero-tour.block .ticket-card-list li {
    width: 17.5rem;
    margin: 0 1.5625rem 1.5rem 0;
  }

  /* more info link */
  .hero-tour.block .ticket-card-list li > a {
    padding: 0 1.875rem;
  }

  /* ticket type block */
  .hero-tour.block .ticket-card-list li .ticket-type {
    padding: 1.5625rem 1.25rem;
  }

  /* the price block */
  .hero-tour.block .ticket-card-list li .info-buy {
    flex-wrap: nowrap;
    margin-bottom: 1.25rem;
  }

  /* price descriptions left side */
  .hero-tour.block .ticket-card-list li .info-buy .price {
    width: 50%;
  }

  .hero-tour.block .ticket-card-list li .info-buy .price p {
    text-align: right;
  }

  /* subtitle */
  .hero-tour.block .ticket-card-list li .info-buy .price p .subtitle {
    text-align: right;
  }

  /* buy button */
  .hero-tour.block .ticket-card-list li .info-buy .buy-button {
    width: 50%;
    padding: 0 0.9375rem 0 1.25rem;
  }

  .hero-tour.block .ticket-card-list li .info-buy .buy-button a {
    width: 100%;
    display: block;
    padding: 0.875rem 1rem 0.75rem;
  }

  /* ticket details block */
  .hero-tour.block .ticket-card-list li .ticket-detail {
    padding: 1.25rem 1.875rem 1.5625rem;
  }
}

/* list of ticket types */
.hero-tour.block .ticket-card-list > ul {
  margin: 0 1.25rem;
  padding: 0;
  list-style-type: none;
}

/* at 350px there is a slight change */
@media (min-width: 21.88rem) {
  .hero-tour.block .ticket-card-list > ul {
    margin-left: auto;
    margin-right: auto;
    width: 21.875rem;
  }
}

@media (min-width: 37.5rem) {
  .hero-tour.block .ticket-card-list > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 2.875rem;
    width: 38.125rem;
  }
}

@media (min-width: 58.13rem) {
  .hero-tour.block .ticket-card-list > ul {
    width: 100%;
    max-width: 58.125rem;
    justify-content: center;
  }
}

/* normal wide tickets */
@media (min-width: 75rem) {
  /* list of ticket types */
  .hero-tour.block .ticket-card-list > ul {
    max-width: 76.25rem;
    justify-content: center;
  }
}
