/* below the fold CSS goes here */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700|Open+Sans:300,400,600&display=swap');

/* icon font */
@font-face{
  font-family:Real-Madrid-New-Icons;
  font-display:auto;
  src: url("/fonts/Real-Madrid-Icons-new.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}