/*
 * Copyright 2023 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */



/* fallback font for Open Sans (normal - 400) */
@font-face {
  font-family: "open-sans-normal-400-fallback";
  size-adjust: 104.701%;
  src: local("Arial");
}

/* fallback font for Oswald (normal - 400) */
@font-face {
  font-family: "oswald-normal-400-fallback";
  size-adjust: 81.4%;
  src: local("Arial");
}

/* mobile settings */
 :root {
  /* RM: colors */
  --link-color: #016ace;
  --link-hover-color: #016ace;
  --background-color: #fff;
  --overlay-background-color: #eee; /* ??? needed */
  --highlight-background-color: #ccc; /* ??? needed */
  --text-color: #000;

  /* RM: fonts */
  --body-font-family: "Open Sans", "open-sans-norma-400-fallback", arial, helvetica, sans-serif;
  --heading-font-family: "Oswald", "oswald-normal-400-fallback", sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* RM: body sizes */
  --body-font-size-m: 19px; 
  --body-font-size-s: 17px; /* RM: Standard text */
  --body-font-size-xs: 15px; 

  /* heading sizes */
  --heading-font-size-xxl: 55px; /* RM: h1 */
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px; /* RM:h2, h3 */
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 4rem; 

  /* default width for content wrapper divs */
  --wrapper-width: 100%;
  --section-heading-width: 100%;
}

/* Desktop */
@media (min-width: 990px) {
  :root {
    --heading-font-size-xxl: 100px; /* RM: h1 */
    --wrapper-width: 960px;
    --section-heading-width: 40%;
  }
}

/* new header: switch from  mobile to desktop nav */
@media (min-width: 66.0625rem) {
  :root {
    --nav-height: 4.5rem; 
  }
}

/* Wide Desktop */
@media (min-width: 1200px) {
  :root {
    --wrapper-width: 1200px;
  }
}

/* RM: checked */
body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.59;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

/* required by franklin */
body.appear {
  display: unset;
}

/* RM: changes with width */
header {
  height: var(--nav-height);
}

/* RM: Seems to be only regular heading in text */
h2 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 15px;
  padding-bottom: 5px;
  color: #333;
  border-bottom: 4px solid #0255A5;
  font-size: var(--heading-font-size-s);
  width: var(--section-heading-width);
  border-right: 4px solid transparent;
}

/* RM: default content */
p {
  font-size: var(--body-font-size-s);
  font-weight: 300;
  line-height: 1.59;
  letter-spacing: -0.3px;
  color: var(--text-color);
  margin-bottom: 20px;
}

/* RM: checked */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* RM : TBD , buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section > div {
  width: var(--wrapper-width);
  margin: 0 auto;  
}
